<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>

</head>
<body>
    <h1>Customer details</h1>
<table >
    <tr>
        <td>Name </td>
        <td>namedata</td>
    </tr>
    <tr>
        <td>DOB </td>
        <td>namedata</td>
    </tr>
    <tr>
        <td>UID </td>
        <td>namedata</td>
    </tr>
    <tr>
        <td>LOAN </td>
        <td>namedata</td>
    </tr>
    <tr>
        <td>Score </td>
        <td>namedata</td>
    </tr>


</table>
<br>
<table>
    <tr>
        <th>Parameter</th>
        <th>Currency</th>
    </tr>

    <tr>
        <td>para</td>
        <td>values</td>
    </tr>

</table>
</body>
</html>