<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<body>
    <center><h1>Customer details</h1>
    <h2>Enter loan amount, mobile, email</h2>
    </center>
<table align = "center" >
    <tr>
        <td>Name </td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>DOB </td>
        <td>{{ dob }}</td>
    </tr>
    <tr>
        <td>UID </td>
        <td>{{ uid }}</td>
    </tr>


    <form action = "{% url 'acknowledgement-url' %}" method = "POST">
        {% csrf_token %}
    <tr>
        <td>LOAN </td>
        <td><input type = "text"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type = "text"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type = "text"></td>
    </tr>
</table>
<input type = "Submit" value = "Submit">
</form>
</body>

</body>
</html>