<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<body>
    <h1>Customer details</h1>
<table >
    <tr>
        <td>Name </td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>DOB </td>
        <td>{{ dob }}</td>
    </tr>
    <tr>
        <td>UID </td>
        <td>{{ uid }}</td>
    </tr>
    <tr>
        <td>LOAN </td>
        <td>namedata</td>
    </tr>
    <tr>
        <td>Score </td>
        <td>namedata</td>
    </tr>


</table>
<br>
<table>
    <tr>
        <th>Parameter</th>
        <th>Currency</th>
    </tr>

    <tr>
        <td>para</td>
        <td>values</td>
    </tr>

</table>
</body>
</html>